<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectMyQnaList">
		SELECT *
		  FROM (
		  		SELECT ROWNUM RNUM, A.*
				  FROM (
				  		SELECT
					   QNA_NO
					 , QNA_TITLE
					 , ENR_DATE
					 , ANS_CONTENT
				  FROM QNA
				 WHERE MEM_NO = ?
			  ORDER BY
			  	 	   ENR_DATE DESC
				  	 	) A
		  		)
		   WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="selectMyQnaListCount">
		SELECT
			   COUNT(*) COUNT
		  FROM QNA
		 WHERE MEM_NO = ?
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		FROM QNA
	</entry>

	<entry key="selectList">
		SELECT *
		FROM(
    		SELECT ROWNUM RNUM, A.*
    		FROM(
        		SELECT
            		QNA_NO,
                    QNA_CATEGORY,
                    QNA_TITLE,
            		M.MEM_NAME MEM_NAME,
            		ENR_DATE,
                    ANS_CONTENT
        		FROM
            		QNA Q
        		JOIN MEMBER M ON ( Q.MEM_NO = M.MEM_NO )
    		ORDER BY
        		ENR_DATE DESC) A
        		)
    		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectQna">
		SELECT 
    		QNA_NO,
            QNA_CATEGORY,
    		QNA_TITLE,
            M.MEM_NAME MEM_NAME,
    		QNA_CONTENT,
    		ENR_DATE
    	FROM QNA Q
    	JOIN MEMBER M ON (Q.MEM_NO=M.MEM_NO)
    	WHERE QNA_NO = ?
	</entry>
	<entry key="selectBoardImage">
		SELECT
		 	IMG_NO,
		 	IMG_PATH,
		 	POST_CATEGORY,
		 	POST_NO
		FROM IMAGE
		WHERE POST_CATEGORY = 1
		AND POST_NO = ?
	</entry>
	<entry key="selectQnaAnswer">
		SELECT 
            M.MEM_NAME ANS_ADMIN,
            ANS_CONTENT,
            TO_CHAR(ANS_DATE, 'YYYY/MM/DD') ANS_DATE
    	FROM QNA Q
    	JOIN MEMBER M ON (Q.MEM_ADMIN=M.MEM_NO)
    	WHERE QNA_NO = ?
	</entry>
	<entry key="updateQnaAnswer">
		UPDATE QNA
			SET
			ANS_CONTENT = ?,
			MEM_ADMIN = ?,
			ANS_DATE = SYSDATE
		WHERE QNA_NO = ?
	</entry>
	<entry key="deleteQnaAnswer">
		UPDATE QNA
			SET
			ANS_CONTENT = NULL,
			MEM_ADMIN = NULL,
			ANS_DATE = NULL
		WHERE QNA_NO = ?
	</entry>
	<entry key="insertQna">
		INSERT INTO QNA(
			QNA_NO,
            MEM_NO,
            QNA_TITLE,
			QNA_CONTENT,
			ENR_DATE,
            QNA_CATEGORY)
		VALUES(
			SEQ_QNA.nextval,
			?,
			?,
            ?,
			SYSDATE,
            ?
		)
	</entry>
	<entry key="insertBoardImageList">
		INSERT
		INTO IMAGE
		(
			IMG_NO
		, IMG_PATH
		, POST_CATEGORY
		, POST_NO
		)
		VALUES
		(
			SEQ_IMG.NEXTVAL
			, ?
			, 1
			, SEQ_QNA.CURRVAL
		)
	</entry>
	<entry key="deleteQna">
		DELETE
		FROM QNA
		WHERE QNA_NO = ?
	</entry>
	<entry key="deleteBoardImage">
		DELETE
		FROM IMAGE
		WHERE POST_CATEGORY = 1
		AND POST_NO = ?
	</entry>
	<entry key="selectBoardImagePath">
		SELECT IMG_PATH
		FROM IMAGE
		WHERE POST_CATEGORY = 1
		AND POST_NO = ?
	</entry>
	<entry key="updateQna">
		UPDATE
		       QNA
		   SET 
		   	   QNA_TITLE = ? 
		     , QNA_CONTENT = ?
		     , QNA_CATEGORY = ?
		 WHERE QNA_NO = ?
	</entry>
	<entry key="updateBoardImage">
		UPDATE
			IMAGE
		SET IMG_PATH = ?
		WHERE POST_CATEGORY =1
		AND IMG_NO = ?
	</entry>
	<entry key="insertNewBoardImage">
		INSERT
			INTO IMAGE
			(
				IMG_NO
			,	IMG_PATH
			,	POST_CATEGORY
			,	POST_NO
			)
			VALUES
			(
				SEQ_IMG.NEXTVAL
				,?
				,1
				,?
			)
			
	</entry>
	<entry key="selectListCountByQnaTitle">
		SELECT COUNT(*) COUNT
		FROM QNA
		WHERE QNA_TITLE LIKE '%'||?||'%'
	</entry>
	<entry key="selectListCountByQnaContent">
		SELECT COUNT(*) COUNT
		FROM QNA
		WHERE QNA_CONTENT LIKE '%'||?||'%'
	</entry>
	<entry key="selectListCountByMemName">
		SELECT COUNT(*) COUNT
		FROM QNA Q
        JOIN MEMBER M ON ( Q.MEM_NO = M.MEM_NO )
		WHERE M.MEM_NAME LIKE '%'||?||'%'
	</entry>
	<entry key="selectListByQnaTitle">
		SELECT *
		FROM(
    		SELECT ROWNUM RNUM, A.*
    		FROM(
        		SELECT
            		QNA_NO,
            		QNA_CATEGORY,
            		QNA_TITLE,
            		M.MEM_NAME MEM_NAME,
            		ENR_DATE,
            		ANS_CONTENT
        		FROM
            		QNA Q
        		JOIN MEMBER M ON ( Q.MEM_NO = M.MEM_NO )
    		WHERE
        		Q.QNA_TITLE LIKE '%'||?||'%'
    		ORDER BY
        		ENR_DATE DESC) A
        		)
    		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectListByQnaContent">
		SELECT *
		FROM(
    		SELECT ROWNUM RNUM, A.*
    		FROM(
        		SELECT
            		QNA_NO,
            		QNA_CATEGORY,
            		QNA_TITLE,
            		M.MEM_NAME MEM_NAME,
            		ENR_DATE,
            		ANS_CONTENT
        		FROM
            		QNA Q
        		JOIN MEMBER M ON ( Q.MEM_NO = M.MEM_NO )
    		WHERE
        		Q.QNA_CONTENT LIKE '%'||?||'%'
    		ORDER BY
        		ENR_DATE DESC) A
        		)
    		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectListByMemName">
		SELECT *
		FROM(
    		SELECT ROWNUM RNUM, A.*
    		FROM(
        		SELECT
            		QNA_NO,
            		QNA_CATEGORY,
            		QNA_TITLE,
            		M.MEM_NAME MEM_NAME,
            		ENR_DATE,
            		ANS_CONTENT
        		FROM
            		QNA Q
        		JOIN MEMBER M ON ( Q.MEM_NO = M.MEM_NO )
    		WHERE
        		MEM_NAME LIKE '%'||?||'%'
    		ORDER BY
        		ENR_DATE DESC) A
        		)
    		WHERE RNUM BETWEEN ? AND ?
	</entry>
</properties>