<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectBlackListNCount">
		SELECT COUNT(*) COUNT
		FROM MEMBER
		WHERE BLACK_YN LIKE 'N'
	</entry>
	<entry key="selectBlackListYCount">
		SELECT COUNT(*) COUNT
		FROM MEMBER
	</entry>
	<entry key="selectMemberListBlackN">
		SELECT *
		FROM(
    		SELECT ROWNUM RNUM, A.*
    		FROM(
        		SELECT
            		 MEM_NO,
                     MEM_EMAIL,
                     MEM_ID,
                     MEM_NAME,
                     BLACK_YN,
                     WARNING
        		FROM
            		MEMBER
    		WHERE
        		BLACK_YN LIKE 'N'
    		ORDER BY
        		BLACK_YN DESC, WARNING DESC, MEM_NO ASC) A
        		)
    		WHERE RNUM BETWEEN ? AND ?
	</entry>
		<entry key="selectMemberListBlackY">
		SELECT *
		FROM(
    		SELECT ROWNUM RNUM, A.*
    		FROM(
        		SELECT
            		 MEM_NO,
                     MEM_EMAIL,
                     MEM_ID,
                     MEM_NAME,
                     BLACK_YN,
                     WARNING
        		FROM
            		MEMBER
    		ORDER BY
        		BLACK_YN DESC, WARNING DESC, MEM_NO ASC) A
        		)
    		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="updateMemberBlackY">
		UPDATE
			MEMBER
		SET BLACK_YN = 'Y'
		WHERE MEM_NO = ?
	</entry>
</properties>