<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM DAILY
	</entry>

	<entry key="selectDailyList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
                               DAILY_NO
                             , MEM_NO
                             , DAILY_CONTENT
                             , ENR_DATE
                             , DAILY_IMG
                             , MEM_NAME
                             , PROF_IMG
		                  FROM DAILY
                          JOIN MEMBER USING (MEM_NO)
		                 ORDER
		                    BY ENR_DATE DESC
		               )A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>

</properties>