<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM DAILY
	</entry>

	<entry key="selectDailyList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
                               DAILY_NO
                             , MEM_NO
                             , DAILY_CONTENT
                             , ENR_DATE
                             , DAILY_IMG
                             , MEM_NAME
                             , PROF_IMG
		                  FROM DAILY
                          JOIN MEMBER USING (MEM_NO)
		                 ORDER
		                    BY ENR_DATE DESC
		               )A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertReportDaily">
		INSERT
		  INTO REPORT
		  (
		    RPT_NO
		  , MEM_NO
		  , RMEM_NO
		  , CONTENT
		  , BR_CATEGORY
		  , DAILY_NO
		  , RPT_CATEGORY
		  )
		  VALUES
		  (
		    SEQ_RPT.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , 0
		  , ?
		  , ?
		  )
	</entry>

	<entry key="insertReportCM">
		INSERT
			  INTO REPORT
			  (
			    RPT_NO
			  , MEM_NO
			  , RMEM_NO
			  , CONTENT
			  , BR_CATEGORY
			  , DAILY_NO
			  , RPT_CATEGORY
	          , CM_NO
			  )
			  VALUES
			  (
			    SEQ_RPT.NEXTVAL
			  , ?
			  , ?
			  , ?
			  , 1
			  , ?
			  , ?
	          , ?
			  )
	</entry>
	
	<entry key="selectDailyDetail">
       SELECT
              DAILY_NO
            , MEM_NO
            , DAILY_CONTENT
            , ENR_DATE
            , DAILY_IMG
            , TAG
            , MEM_NAME
            , PROF_IMG
         FROM DAILY
         JOIN MEMBER USING (MEM_NO)
        WHERE DAILY_NO = ?
	</entry>
	
	<entry key="selectDailyItem">
		SELECT
		       ITEM_NO
		     , ITEM_NAME
		     , ITEM_LINK
		     , ITEM_CATEGORY
		  FROM ITEM
		 WHERE DAILY_NO = ?
	</entry>
	
	<entry key="selectDailyCount">
		SELECT COUNT(*) COUNT
		FROM DAILY
		WHERE DAILY_CONTENT LIKE '%'||?||'%'
		   OR TAG LIKE '%'||?||'%' 
	</entry>
	
	<entry key="selectDaily">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
                               DAILY_NO
                             , MEM_NO
                             , DAILY_CONTENT
                             , ENR_DATE
                             , DAILY_IMG
                             , TAG
                             , MEM_NAME
                             , PROF_IMG
		                  FROM DAILY
                          JOIN MEMBER USING (MEM_NO)
                         WHERE DAILY_CONTENT LIKE '%'||?||'%'
                         	OR TAG LIKE '%'||?||'%'
		                 ORDER
		                    BY ENR_DATE DESC)A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<entry key="selectDailyCM">
		SELECT
		       CM_NO
		     , MEM_NO
		     , CM_CONTENT
		     , TO_CHAR(ENR_DATE, 'YY.MM.DD') ENR_DATE
		     , MEM_NAME
		     , PROF_IMG
		  FROM DAILY_CM
		  LEFT JOIN MEMBER USING(MEM_NO)
		 WHERE DAILY_NO = ?
		 ORDER BY ENR_DATE DESC
	</entry>
	
	<entry key="insertDailyCM">
		INSERT
		  INTO DAILY_CM
		  (
		    CM_NO
		  , MEM_NO
		  , DAILY_NO
		  , CM_CONTENT
		  )
		  VALUES
		  (
		    SEQ_CM.NEXTVAL
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="deleteDailyCM">
		DELETE
		  FROM DAILY_CM
		 WHERE CM_NO = ?
		   AND DAILY_NO = ?
	</entry>

	<entry key="selectMyDailyList">
		SELECT
			   DAILY_NO
			 , MEM_NO
			 , DAILY_CONTENT
			 , ENR_DATE
			 , DAILY_IMG
			 , MEM_NAME
			 , PROF_IMG
		  FROM DAILY
	      JOIN MEMBER USING (MEM_NO)
	     WHERE MEM_NO = ?
	  ORDER BY ENR_DATE DESC
	</entry>

	<entry key="selectMyDailyListCount">
		SELECT
			   COUNT(*) COUNT
		  FROM DAILY
		 WHERE MEM_NO = ?
	</entry>

	<entry key="checkLiked">
		SELECT
			   COUNT(*) COUNT
		  FROM DAILY_LIKE
		 WHERE MEM_NO = ?
		   AND DAILY_NO =?
	</entry>

	<entry key="checkBookmark">
		SELECT
			   COUNT(*) COUNT
		  FROM BOOKMARK
		 WHERE MEM_NO = ?
		   AND DAILY_NO =?
	</entry>
	
	<entry key="selectLikedCount">
		SELECT
			   COUNT(*) COUNT
		  FROM DAILY_LIKE
		 WHERE DAILY_NO =?
	</entry>
	
	<entry key="selectBookmarkCount">
		SELECT
			   COUNT(*) COUNT
		  FROM BOOKMARK
		 WHERE DAILY_NO =?
	</entry>
	
	<entry key="selectMyBookmarkListCount">
		SELECT
			   COUNT(*) COUNT
		  FROM BOOKMARK
		 WHERE MEM_NO = ?
	</entry>
	
	<entry key="selectLikedCountList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT NVL(L.COUNT, 0) DAILY_COUNT
                        FROM (SELECT COUNT(*) COUNT, DAILY_NO
                               FROM DAILY_LIKE
                               GROUP BY DAILY_NO) L
                        RIGHT JOIN DAILY D ON(L.DAILY_NO = D.DAILY_NO)
                        ORDER BY D.ENR_DATE DESC
		               )A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectBookmarkCountList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT NVL(B.COUNT, 0) BOOKMARK_COUNT
                        FROM (SELECT COUNT(*) COUNT, DAILY_NO
                               FROM BOOKMARK
                               GROUP BY DAILY_NO) B
                        RIGHT JOIN DAILY D ON(B.DAILY_NO = D.DAILY_NO)
                        ORDER BY D.ENR_DATE DESC
		               )A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertLike">
	INSERT INTO DAILY_LIKE(
						   MEM_NO
					   ,   DAILY_NO)
				    VALUES(
				 		   ?
				 	     , ?)
	</entry>

	<entry key="deleteLike">
	DELETE FROM DAILY_LIKE
	WHERE MEM_NO = ?
	  AND DAILY_NO = ?
	</entry>
	
	<entry key="selectMyLikedCountList">
		SELECT NVL(L.COUNT, 0) DAILY_COUNT, D.DAILY_NO
		FROM (SELECT COUNT(*) COUNT, DAILY_NO
				FROM DAILY_LIKE
				GROUP BY DAILY_NO) L
		RIGHT JOIN DAILY D ON(L.DAILY_NO = D.DAILY_NO)
		WHERE MEM_NO = ?
		ORDER BY D.ENR_DATE DESC
	</entry>
	
	<entry key="selectMyBookmarkCountList">
		SELECT NVL(B.COUNT, 0) DAILY_COUNT, D.DAILY_NO
		FROM (SELECT COUNT(*) COUNT, DAILY_NO
				FROM BOOKMARK
				GROUP BY DAILY_NO) B
		RIGHT JOIN DAILY D ON(B.DAILY_NO = D.DAILY_NO)
		WHERE MEM_NO = ?
		ORDER BY D.ENR_DATE DESC
	</entry>
	
	<entry key="selectLikedCountBk">
		SELECT NVL(L.COUNT, 0) DAILY_COUNT, BK.DAILY_NO
		FROM (SELECT COUNT(*) COUNT, DAILY_NO
				FROM DAILY_LIKE
				GROUP BY DAILY_NO) L
		RIGHT JOIN BOOKMARK BK ON(L.DAILY_NO = BK.DAILY_NO)
		WHERE MEM_NO = ?
		ORDER BY BK.ENR_DATE DESC
	</entry>
	
	<entry key="selectBookmarkCountBk">
		SELECT NVL(B.COUNT, 0) DAILY_COUNT, BK.DAILY_NO
		FROM (SELECT COUNT(*) COUNT, DAILY_NO
				FROM BOOKMARK
				GROUP BY DAILY_NO) B
		RIGHT JOIN BOOKMARK BK ON(B.DAILY_NO = BK.DAILY_NO)
		WHERE MEM_NO = ?
		ORDER BY BK.ENR_DATE DESC
	</entry>
	
	<entry key="insertDaily">
		INSERT 
		       INTO DAILY
		            (
		            DAILY_NO
		          , MEM_NO
		          , DAILY_CONTENT
		          , DAILY_IMG
		          , TAG
		            )
		     VALUES
		            (
		            SEQ_DAILY.NEXTVAL
		          , ?
		          , ?
		          , ?
		          , ?
	                )
	</entry>
	
	<entry key="insertItem">
	  
		INSERT
		       INTO ITEM
		            (
		            ITEM_NO
		          , DAILY_NO
		          , ITEM_NAME
		          , ITEM_LINK
		          , ITEM_CATEGORY
		            )
		     VALUES 
		            (
		            SEQ_ITEM.NEXTVAL
		          , SEQ_DAILY.CURRVAL
		          , ?
		          , ?
		          , ?
		            )
	</entry>
	
	<entry key="updateDaily">
	  
		UPDATE
			   DAILY
		   SET 
		       DAILY_CONTENT = ?
		     , DAILY_TAG = ?
		 WHERE DAILY_NO = ?
	</entry>
	
	<entry key="updateItem">
	  
		UPDATE
			   Item
		   SET 
		       DAILY_CONTENT = ?
		     , DAILY_TAG = ?
		 WHERE DAILY_NO = ?
	</entry>
	
</properties>