<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		FROM NOTICE
		WHERE STATUS = 'Y'
	</entry>
	
	<entry key="selectNoticeList">
		SELECT
			NOTICE_NO,
			M.MEM_NAME MEM_NAME,
			NOTICE_TITLE,
			ENR_DATE
		FROM
				NOTICE N
			JOIN MEMBER M ON ( N.MEM_NO = M.MEM_NO )
		WHERE
			N.STATUS = 'Y'
		ORDER BY
			ENR_DATE DESC
	</entry>

	<entry key="selectList">
		SELECT *
		FROM(
    		SELECT ROWNUM RNUM, A.*
    		FROM(
        		SELECT
            		NOTICE_NO,
            		M.MEM_NAME MEM_NAME,
            		NOTICE_TITLE,
            		ENR_DATE
        		FROM
            		NOTICE N
        		JOIN MEMBER M ON ( N.MEM_NO = M.MEM_NO )
    		WHERE
        		N.STATUS = 'Y'
    		ORDER BY
        		ENR_DATE DESC) A
        		)
    		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="increaseCount">
		UPDATE
    		NOTICE
    	SET COUNT = COUNT + 1
    	WHERE NOTICE_NO = ?
    	AND STATUS = 'Y'
	</entry>
	
	<entry key="selectNotice">
		SELECT 
    		NOTICE_NO,
    		M.MEM_NAME MEM_NAME,
    		NOTICE_TITLE,
    		NOTICE_CONTENT, 
    		COUNT, 
    		ENR_DATE
    	FROM NOTICE N
    	JOIN MEMBER M ON (N.MEM_NO=M.MEM_NO)
    	WHERE NOTICE_NO = ?
    	AND N.STATUS = 'Y'
	
	</entry>
	
	<entry key="deleteNotice">
		UPDATE 
		       NOTICE
		   SET STATUS = 'N'
		 WHERE NOTICE_NO = ?
	</entry>
	
	<entry key="selectBoardImage">
		SELECT
		 	IMG_NO,
		 	IMG_PATH,
		 	POST_CATEGORY,
		 	POST_NO
		FROM IMAGE
		WHERE POST_CATEGORY = 0
		AND POST_NO = ?
	</entry>

	<entry key="insertNotice">
		INSERT INTO NOTICE(
			NOTICE_NO,
			MEM_NO,
			NOTICE_TITLE,
			NOTICE_CONTENT,
			ENR_DATE,
			STATUS)
		VALUES(
			SEQ_NOTICE.nextval,
			?,
			?,
			?,
			SYSDATE,
			'Y'
		)
	</entry>
	
	<entry key="insertBoardImageList">
		INSERT
		INTO IMAGE
		(
			IMG_NO
		, IMG_PATH
		, POST_CATEGORY
		, POST_NO
		)
		VALUES
		(
			SEQ_IMG.NEXTVAL
			, ?
			, 0
			, SEQ_NOTICE.CURRVAL
		)
	</entry>
	
	<entry key="deleteBoardImages">
		DELETE
		FROM IMAGE
		WHERE POST_CATEGORY = 0
		AND POST_NO = ?
	</entry>
	
	<entry key="updateNotice">
		UPDATE
		       NOTICE
		   SET 
		   	   NOTICE_TITLE = ? 
		     , NOTICE_CONTENT = ?
		 WHERE NOTICE_NO = ?
	</entry>
		<entry key="insertBoardImageList2">
		INSERT
		INTO IMAGE
		(
			IMG_NO
		, IMG_PATH
		, POST_CATEGORY
		, POST_NO
		)
		VALUES
		(
			SEQ_IMG.NEXTVAL
			, ?
			, 0
			, ?
		)
	</entry>
	
	<entry key="updateBoardImage">
		UPDATE
			IMAGE
		SET IMG_PATH = ?
		WHERE POST_CATEGORY =0 
		AND IMG_NO = ?
	</entry>
	
	<entry key="insertNewBoardImage">
		INSERT
			INTO IMAGE
			(
				IMG_NO
			,	IMG_PATH
			,	POST_CATEGORY
			,	POST_NO
			)
			VALUES
			(
				SEQ_IMG.NEXTVAL
				,?
				,0
				,?
			)
			
	</entry>
	
	<entry key="selectListByNoticeNo">
		SELECT *
		FROM(
    		SELECT ROWNUM RNUM, A.*
    		FROM(
        		SELECT
            		NOTICE_NO,
            		M.MEM_NAME MEM_NAME,
            		NOTICE_TITLE,
            		ENR_DATE
        		FROM
            		NOTICE N
        		JOIN MEMBER M ON ( N.MEM_NO = M.MEM_NO )
    		WHERE
        		N.STATUS = 'Y'
        	AND N.NOTICE_TITLE LIKE '%'||?||'%'
    		ORDER BY
        		ENR_DATE DESC) A
        		)
    		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectListByNoticeContent">
		SELECT *
		FROM(
    		SELECT ROWNUM RNUM, A.*
    		FROM(
        		SELECT
            		NOTICE_NO,
            		M.MEM_NAME MEM_NAME,
            		NOTICE_TITLE,
            		ENR_DATE
        		FROM
            		NOTICE N
        		JOIN MEMBER M ON ( N.MEM_NO = M.MEM_NO )
    		WHERE
        		N.STATUS = 'Y'
        	AND N.NOTICE_CONTENT LIKE '%'||?||'%'
    		ORDER BY
        		ENR_DATE DESC) A
        		)
    		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectListByMemName">
		SELECT *
		FROM(
    		SELECT ROWNUM RNUM, A.*
    		FROM(
        		SELECT
            		NOTICE_NO,
            		M.MEM_NAME MEM_NAME,
            		NOTICE_TITLE,
            		ENR_DATE
        		FROM
            		NOTICE N
        		JOIN MEMBER M ON ( N.MEM_NO = M.MEM_NO )
    		WHERE
        		N.STATUS = 'Y'
        	AND MEM_NAME LIKE '%'||?||'%'
    		ORDER BY
        		ENR_DATE DESC) A
        		)
    		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectListCountByNoticeTitle">
		SELECT COUNT(*) COUNT
		FROM NOTICE
		WHERE STATUS = 'Y'
		AND NOTICE_TITLE LIKE '%'||?||'%'
	</entry>
	<entry key="selectListCountByNoticeContent">
		SELECT COUNT(*) COUNT
		FROM NOTICE
		WHERE STATUS = 'Y'
		AND NOTICE_CONTENT LIKE '%'||?||'%'
	</entry>
	<entry key="selectListCountByMemName">
		SELECT COUNT(*) COUNT
		FROM NOTICE N
        JOIN MEMBER M ON ( N.MEM_NO = M.MEM_NO )
		WHERE STATUS = 'Y'
		AND M.MEM_NAME LIKE '%'||?||'%'
	</entry>
	<entry key="selectBoardImagePath">
		SELECT IMG_PATH
		FROM IMAGE
		WHERE POST_CATEGORY = 0
		AND POST_NO = ?
	</entry>
	<entry key="deleteBoardImage">
		DELETE
		FROM IMAGE
		WHERE POST_CATEGORY = 0
		AND POST_NO = ?
	</entry>
</properties>
