<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
	SELECT
	       MEM_NO
	     , MEM_ID
	     , MEM_PWD
	     , MEM_NAME
	     , MEM_EMAIL
	     , MEM_GENDER
	     , ENROLL_DATE
	     , BLACK_YN
	     , ENT_YN
	     , WARNING
	     , ADMIN_YN
	     , UPDATE_DATE
	     , ENT_DATE
	     , PROF_IMG
	  FROM MEMBER
	 WHERE MEM_ID = ?
	   AND MEM_PWD = ?
	   AND BLACK_YN = 'N'
	   AND ENT_YN = 'N'
	</entry>
	
	<entry key="updateMember">
	UPDATE
			MEMBER
		SET MEM_PWD = ?
		  , MEM_NAME = ?
		  , MEM_EMAIL = ?
		  , MEM_GENDER = ?
		  , UPDATE_DATE = SYSDATE
	 WHERE MEM_ID = ?
	</entry>
	
	<entry key="selectMember">
	SELECT
	       MEM_NO
	     , MEM_ID
	     , MEM_PWD
	     , MEM_NAME
	     , MEM_EMAIL
	     , MEM_GENDER
	     , ENROLL_DATE
	     , BLACK_YN
	     , ENT_YN
	     , WARNING
	     , ADMIN_YN
	     , UPDATE_DATE
	     , ENT_DATE
	     , PROF_IMG
	  FROM MEMBER
	 WHERE MEM_ID = ?
	   AND BLACK_YN = 'N'
	   AND ENT_YN = 'N'
	</entry>
	
	<entry key="selectMemberId">
	SELECT MEM_ID
	  FROM MEMBER
	 WHERE BLACK_YN ='N'
	   AND ENT_YN ='N'
	   AND MEM_EMAIL = ?
	</entry>
	
	<entry key="selectMemberPwd">
	SELECT MEM_PWD
	  FROM MEMBER
	 WHERE BLACK_YN ='N'
	   AND ENT_YN ='N'
	   AND MEM_ID = ?
	   AND MEM_EMAIL = ?
	</entry>
	
	<entry key="deleteMember">
	UPDATE MEMBER
	   SET ENT_YN = 'Y',
	       ENT_DATE = SYSDATE
	 WHERE MEM_ID = ?
	</entry>	
	
	<entry key="checkMember">
	SELECT MEM_PWD
	  FROM MEMBER
	 WHERE MEM_ID = ?
	   AND BLACK_YN = 'N'
	   AND ENT_YN = 'N'
	</entry>

	<entry key="insertMember">
	INSERT
	       INTO MEMBER
	       (
	         MEM_NO
	       , MEM_ID
	       , MEM_PWD
	       , MEM_NAME
	       , MEM_EMAIL
	       , MEM_GENDER
	       )
	       VALUES
	       (
	         SEQ_MEM.NEXTVAL
	       , ?
	       , ?
	       , ?
	       , ?
	       , ?
	       )
	</entry>
	
	<entry key="insertBookmark">
	INSERT INTO BOOKMARK(
						 MEM_NO
					   , DAILY_NO
					   , ENR_DATE)
				  VALUES(
				 		 ?
				 	   , ?
				 	   , SYSDATE)
	</entry>

	<entry key="deleteBookmark">
	DELETE FROM BOOKMARK
	WHERE MEM_NO = ?
	  AND DAILY_NO = ?
	</entry>

	<entry key="selectMyBookmarkList">
		SELECT
			   DAILY_NO
			 , MEM_NO
			 , DAILY_CONTENT
			 , ENR_DATE
			 , DAILY_IMG
			 , MEM_NAME
			 , PROF_IMG
		  FROM DAILY
	      JOIN MEMBER USING (MEM_NO)
	     WHERE DAILY_NO IN (
	     				    SELECT DAILY_NO
							  FROM BOOKMARK
							 WHERE MEM_NO = ?
						    )
	  ORDER BY ENR_DATE DESC
	</entry>

	<entry key="selectMyLikeList">
		SELECT
			   DAILY_NO
			 , MEM_NO
			 , DAILY_CONTENT
			 , ENR_DATE
			 , DAILY_IMG
			 , MEM_NAME
			 , PROF_IMG
		  FROM DAILY
	      JOIN MEMBER USING (MEM_NO)
	     WHERE DAILY_NO IN (
	     				    SELECT DAILY_NO
							  FROM DAILY_LIKE
							 WHERE MEM_NO = ?
						    )
	  ORDER BY ENR_DATE DESC
	</entry>

	<entry key="updateProfImg">
	UPDATE MEMBER
	   SET PROF_IMG = ?,
	       UPDATE_DATE = SYSDATE
	 WHERE MEM_ID = ?
	</entry>
	
	<entry key="selectProfImg">
	SELECT PROF_IMG
	  FROM MEMBER
	 WHERE MEM_NO = ?
	</entry>
	
	<entry key="idCheck">
		SELECT
			   COUNT(*)
		  FROM MEMBER
		 WHERE MEM_ID = ?
	</entry>

</properties>